/* Menu */

QMenuBar {
    border-bottom: 1px solid grey;
    background-color: hsl(0, 0%, 90%);
}


/* Status Bar */

QStatusBar {
    border-top: 1px solid grey;
    background-color: hsl(0, 0%, 80%);
}


/* Table */

QTableView {
    border: 1px solid grey;
}


/* Frame */

QFrame {
    border: 0px solid solid;
}
